<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!-- 用于存储历史监控路径的自定义应用程序设置 -->
		<add key="HistoryMonitorPaths" value="" />
		<add key="HistoryBackCopyPaths" value=""/>
	</appSettings>
</configuration>